<div class="container-fluid">
    <h1>users</h1>
    <div class="row">
      <div class="col-12">
        
        <div class="pagination">
           <!-- previous btn -->
          <button class="btn btn-sm btn-primary">previous</button>&nbsp;

          <ng-container *ngFor="let item of TotalPages; let i = index">
            <button class="btn btn-sm" [ngClass]="{'btn-primary': i+1 == page}"
             (click)="setPage(i + 1, $event)">{{ i + 1 }}</button>
          </ng-container>

          &nbsp; <button class="btn btn-sm btn-primary">next</button>

        </div>

      </div>
        <div class="col-12 col-md-3 py-3" *ngFor="let user of users">
            <div class="card" style="width: 18rem;">
                <img [src]="user.avatar" class="card-img-top" alt="...">
                <div class="card-body">
                  <p>ID:{{user.id}}</p>
                  <p>Name : {{user.first_name}} {{user.last_name}}</p>
                  <p>Email:{{user.email}}</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary" 
                  (click)="C_Get_Current_User(user)">read more</a>
                </div>
              </div>
        </div>
    </div>
</div>


