<h1>here blogs</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let blog of blogs">
                    <th scope="row">{{blog.id}}</th>
                    <td>{{blog.title}}</td>
                    <td>
                        <span (click)="editBlog(blog.id)" class="material-icons">
                            update
                        </span>
                    </td>
                    <td>
                        <span (click)="openDialog(blog.id)" class="material-icons">
                        delete
                        </span>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-5">
            <h1>blog control</h1>
            <form [formGroup]="localform" (ngSubmit)="submitForm()">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
                    <input type="text" formControlName="title" class="form-control" placeholder="blog name">
                  </div>
                  <button type="submit" [disabled]="!localform.valid" class="btn btn-primary btn-md">SUBMIT NOW</button>
            </form>
        </div>
    </div>
</div>



